<div class="container">
    <label>STARTUPS</label><br>

		<!-- Begin Startup -->
 <% @startups.each do |startup| %>
        <div class="row">
	<div class="col-md-3">
             <% if startup.pic_file_name %>
                <%= image_tag startup.pic.url(:thumb),:class=>"img-rounded" %>
            <% else %>
                 <%= image_tag  "profile.jpg",:class=>"img-rounded" %> 
            <% end %>
            </div>

            <div class="col-md-6">
				<div class="row">
                   <label><%=link_to startup.name,startup %></label>
                    <br>
                    <label>Description</label>
                    <p><%= startup.about %></p>
                    <label>About the Co-Founders</label>
                    <p><%= startup.founderinfo %></p>

                    <label>Links</label>
                    <p><a href=""><%= startup.link %></a></p>
                </div>
            </div>
		</div>
        <hr><!-- End Startup -->

	</div>
<% end %>
<%= will_paginate @startups %>
</div>
