.top
{
	background-color: #fff;
}
input[type="search"]
{

	font-style: calibri regular;
	width: 400px;

}

.header
{
	margin-top: 25px;
	

}
div.header span
{
	font-style: Waukegan LDO bold;
	font-size: 25px;
	

}
.logo
{
	margin-top: 5px;
}
.btn-up
{
	background:none;
	border:none;
	outline: none;
}
button.btn-up span
{
	color: #199fdb;

	font-size: 15px;
}
button.btn-up:hover span
{
	color: #db1919;
	transition:1s;
}
.btn-nav
{
	background:none;
	border:none;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;

}


.btn-nav:hover
{
	background-color: #64b4d8;
	transition:1s;
}
button.btn-nav:hover span
{
  color: #fff;
}
.btn-active
{
	background-color:#64b4d8 ;
	border:none;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
}
button.btn-active span
{
	color: #fff;
}
.div2
{
	background-color: #f5f6f6;
	margin-top: 20px;
}
.content
{
	margin-top: 150px;
	
}
.all
{
	background-color: #fff;
	border:none;
	outline: none;

}
.content2
{
	margin-top: 20px;
	background-color: #fff;
}
.content3
{

}
.heading
{
	background-color: #f5f6f6;
}
.btn-listh
{
	background:none;
	border:none;
	outline: none;
	
}
.btn-small
{
	background:none;
	border:none;
	outline: none;
	padding: 0px;

}
button.btn-small span
{
	color: #585858;
	font-size: 15px;
}
.profile_image
{
	height: 50px;
	width: auto;
}
body
{
	padding-top: 75px;
}