.home
{
	background-image: url(../img/home.jpg);
	width: 100%;
	height:550px;
}
div.header span
{
	font-family: Waukegan LDO bold;
	color: #fff;
	opacity: 0.9;
	font-size: 30px;
}
.center
{
	margin-top: 200px;
}
div.center span
{
	font-style: Waukegan LDO bold;
	color: #fff;
	font-size: 20px;
}
.down
{
	margin-top: 10px;
}
.btn-login
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 50px;
	padding-left: 50px;
	background-color: #007bb6;
	border:none;
	outline: none;
	opacity: 0.9;
}
.btn-login:hover
{
	background-color: #007bb6;
	transition:2s;
	opacity: 1;
}
div.sub span
{
	font-style: Waukegan LDO bold;
	color: #fff;
}
span.facebook
{
	color: #fff;
	

}
span.facebook:hover
{
	color: #3b5998;
	transition:3s;
}
span.twitter
{
	color: #fff;
	

}
span.twitter:hover
{
	color: #9ae4e8;
	transition:3s;
}
.btn-no
{
	background-color: none;
	border:none;
	outline: none;
	padding:5px;
	background:none;
}
input[type="mail"]
{
	height: 50px;
	width: 300px;
	background-color: #fff;

}
