.div1
{
	background-image: url('<%= asset_path("home2.jpg") %>');
	width: 100%;
	height: 650px;
}
.bar
{
	height: 50px;
	

	opacity: 0.2;
}
.center
{
	margin-top: 100px;
	color: #fff;
	opacity: 0.8;
	
	font-size: 80px;


}
p[class="home"]{
	word-spacing: 10px;
	line-height: 70px;
}

.btn-login
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	font-family: calibri light;
}
.btn-login:hover
{
	transition:2s;
	opacity: 1;
}
input[type="login"]
{
	background:none;
	outline: none;
	border-bottom-color: #000;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	font-family: calibri regular;
}
.round
{
	border-radius: 400px;
	height: 350px;
	width: 350px;
	background-color: #fff;
}
a[class="navigate"]
{
	text-decoration: none;
	background-color: transparent;
	outline: none;
	font-family: calibri light;
	font-size: 15px;
	padding: 10px;
	color: #fff;
	opacity: 0.8;
}
a[class="navigate"]:hover
{
	background-color: #fff;
	color: #000;
	opacity: 0.7;
	transition:1s;
	padding:10px;
}
.header2
{
	margin-top: 60px;
}
a[class="navigate-login"]
{
	text-decoration: none;
	
	padding: 10px;
	outline: none;
	font-family: calibri light;
	font-size: 15px;
	color: #fff;
	opacity: 0.8;
}
a[class="navigate-login"]:hover
{
	background-color: #09b7dc;
	color: #fff;
	padding: 10px;
	opacity: 0.7;
	transition:1s;
	
}
a[class="navigate-register"]
{
	text-decoration: none;
	
	padding: 10px;
	outline: none;
	font-family: calibri light;
	font-size: 15px;
	color: #fff;
	opacity: 0.8;
}
a[class="navigate-register"]:hover
{
	background-color: #e82742;
	color: #fff;
	padding: 10px;
	opacity: 0.7;
	transition:1s;
	
}
.div2
{
	
	height: 700px;
}
h1{
	line-spacing:20px;
}
.div3
{
	background-color: #fff;
	height: 700px;
}
.div4
{
	background-color: #0e0e0e;
}
.startups
{
	margin-top: 75px;
}
.header3
{
	margin-top: 150px;
}
