<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="">Founder Dating</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    
    <% if signed_in? || lcurrent_user %>
    <ul class="nav navbar-nav">
        <li><a href="/allstartups">Startups</a></li>
        <li><a href="/allstudents">Students</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
     <li><%= link_to "Home",current_user %></a></li>
     <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                
                <% if user_type=="Student" %>
                <li><%= link_to "Profile", "/sprofile" %></li>
                <li><%= link_to "Update Profile", edit_student_path(current_user) %></li>
                <li><%= link_to "Update Password", "/supdatepwd" %></li>
                <% else %>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Update Password", "/eupdatepwd" %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", logout_login_path, :method => :get  %>
                </li>
              </ul>
            </li>
    </ul>
  <!--
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form> -->
   <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign in", "/login" %></li>
          </ul>
   <% end %>
  </div><!-- /.navbar-collapse -->
</nav>
