<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :fname,"First Name" %>
      <%= f.text_field :fname,:class=>"form-control" %>
 
      <%= f.label :lname,"Last Name" %>
      <%= f.text_field :lname,:class=>"form-control" %>

      <%= f.label :email %>
      <%= f.text_field :email,:class=>"form-control" %>

      <%= f.label :bio, "Add Bio" %>
      <%= f.text_area :bio,:class=>"form-control",:placeholder=>"Write about yourself" %>

      <%= f.label :skills, "Add Your Skills" %>
      <%= f.text_field :skills,:class=>"form-control",:placeholder=>"Your skills seperated by a comma" %>

      
      <%= f.label :pic, "Profile Picture" %>    
      <%= f.file_field :pic %>
 

<h2>Social Media</h2>
      
      <%= f.label :google, "Your Google+ Profile link" %>
      <%= f.text_field :google,:class=>"form-control" %>

      <%= f.label :fb, "Your Facebook Profile link" %>
      <%= f.text_field :fb,:class=>"form-control" %>
   
      <%= f.label :github, "Your Github/Bitbucket Profile link" %>
      <%= f.text_field :github,:class=>"form-control",:placeholder=>"You can also add a link of your online portfolio" %>   
      <br>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
