<!-- Begin Profile -->
        <div class="row">
      <div class="col-md-2 col-md-offset-1 well" align="center">
            <% if @user.pic_file_name %>
                <%= image_tag @user.pic.url(:thumb) %><br><br>
            <% else %>
                 <%= image_tag("profile.jpg") %><br><br> 
           <% end %>
                <%= link_to 'Edit Info', edit_student_path(@user), class: "btn btn-default" %><br>
                
                    
    
            </div>


            <div class="col-md-6 col-md-offset-1">
        <div class="row">
                    <a href="#"><h2><%= @user.fname %>&nbsp<%= @user.lname %></h2></a>
                    <br>
                    <label>About</label>
                    <p><%= @user.bio %>
                    </p>

                      
                    
                    <label>Email</label>
                    <p><%= @user.email %></p><br>

                     <label>Skills</label>
                     <p><%= @user.skills %></p><br>


                     <label>Github/Bitbucket or Online Portfolio</label>
                     <p><%= @user.github %></p><br>

                     <label>Facebook link</label>
                     <p><%= @user.fb %></p><br>

                     <label>Google+ link</label>
                     <p><%= @user.google %></p><br>
                      
                      </div>
                    
                </div>
            </div>
    </div>
        <hr><!-- End Profile -->
        
       

  </div>


  <script src="js/bootstrap.min.js"></script>
</body>
</html>
