<!-- Begin Profile -->
     
      <div class="col-md-2 col-md-offset-1 well" align="center">
            <% if @user.pic_file_name %>
                <%= image_tag @user.pic.url(:thumb) %><br><br>
            <% else %>
                 <%= image_tag("profile.jpg") %><br><br> 
           <% end %>
             <% if @user==current_user %>
                <%= link_to 'Edit Info', edit_student_path(@user), class: "btn btn-default" %><br>
             <% end %>
                <a href="#"><h2><%= @user.fname %></h2></a>
                    <br>
                    
    
            </div>

            
   <div class="col-md-9">

 <% if @user==current_user %>     
        <h3>News Feed</h3>
        <br>
         <ul class="list-group">
     <% @microposts.each do |micropost| %>
     <li class="list-group-item">
       <div class="row">
        <div class="col-md-2">
         <%  @startup=Startup.find(micropost.startup_id) %>
        <% if @startup.pic_file_name %>
         <%= link_to image_tag(@startup.pic.url(:thumb)),@startup %>
        <% else %>
                 <%= image_tag("profile.jpg") %><br><br> 
        <% end %>  
        </div>
        <div class="col-md-8 feed_div ">
         <a href="#" class="feed">
           <p class="feed_news"><%= micropost.content %></p>
         </a>
          
        </div>
        <div class="col-md-2">
         <h6>Posted <%= time_ago_in_words(micropost.created_at) %> ago</h6>
         
          
        </div>
         
       </div>
     </li>
      
    </ul>
    <% end %>
    <%= will_paginate @microposts %>
<% else %>
<div class="col-md-6 col-md-offset-1">
        <div class="row">
                    <h2><%= @user.fname %>&nbsp<%= @user.lname %></h2>
                    <br>
                    <label>About</label>
                    <p><%= @user.bio %>
                    </p>

                      
                    
                    <label>Email</label>
                    <p><%= @user.email %></p><br>

                     <label>Skills</label>
                     <p><%= @user.skills %></p><br>


                     <label>Github/Bitbucket or Online Portfolio</label>
                     <p><%= @user.github %></p><br>

                     <label>Facebook link</label>
                     <p><%= @user.fb %></p><br>

                     <label>Google+ link</label>
                     <p><%= @user.google %></p><br>
                      
                      </div>
                    
                </div>
            </div>
    </div>
        <hr><!-- End Profile -->
        
       

  </div>
<% end %>
      </div>             

