<div class="container ">

      <div class="col-md-2" style="padding-top:20px;">
       <% if @user==current_user %>
        <label>My Startups</label>
       <% else %>
        <label>Startups</label>
       <% end %>
        <ul class="nav nav-stacked" style="border:solid 1px #e7e7e7;">
         <% @startups.each do |startup| %>
          <li style="background-color:#F8F8F8;"><%= link_to (startup.name), startup,{ :style => 'color:#777' } %></li>
         <% end %>
         <%= will_paginate @startups %>
        <% if @user==current_user %>
         <li style="background-color:#F8F8F8;"><%= link_to 'Add New Startup',new_startup_path,{ :style => 'color:#777' } %></li>
        <% end %>
        </ul>        
      </div>

      <div class="col-md-10">

      
        <h3>News Feed</h3>
        <br>
         <ul class="list-group">
     <% @microposts.each do |micropost| %>
     <li class="list-group-item">
       <div class="row">
        <div class="col-md-2">
         <%  @startup=Startup.find(micropost.startup_id)%>
        <% if @startup.pic_file_name %>
         <a href="#"><%= image_tag @startup.pic.url(:thumb) %></a>
        <% else %>
                 <%= image_tag("profile.jpg") %><br><br> 
        <% end %>  
          
        </div>
        <div class="col-md-8 feed_div ">
         <a href="#" class="feed">
           <p class="feed_news"><%= micropost.content %></p>
         </a>
          
        </div>
        <div class="col-md-2">
         <h6>Posted <%= time_ago_in_words(micropost.created_at) %> ago</h6>
         
          
        </div>
         
       </div>
     </li>
      
    </ul>
    <% end %>
    <%= will_paginate @microposts %>
      </div>
