<style>
      body
      {
        overflow-x:hidden;
        padding-top: 0px;
      }
    </style>

    <style>
      .back-to-top 
      {
      position: fixed;
      bottom: 3em;
      right: 40px;
      height:100px;
      width: 100px;
      text-decoration: none;
      /*color: #000000;*/
      background-image: url('<%= asset_path("arrow_up_1.png") %>');
      /*font-size: 12px;*/
      padding: 1em;
      opacity:0.7;
      display: none;
      }

      .back-to-top:hover 
      {    
          opacity:1;
      }

     

    </style>

    <script>

        $(function() 
    {
        
        $('.div1 .row .header2 a').bind('click',function(event)
        {
            var $anchor = $(this);

            $('html, body').stop().animate(
            {
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1000);
            event.preventDefault();
        });
    });


      jQuery(document).ready(function() {
      var offset = 220;
      var duration = 500;
      jQuery(window).scroll(function() {
          if (jQuery(this).scrollTop() > offset) {
              jQuery('.back-to-top').fadeIn(duration);
          } else {
              jQuery('.back-to-top').fadeOut(duration);
          }
      });
      
      jQuery('.back-to-top').click(function(event) {
          event.preventDefault();
          jQuery('html, body').animate({scrollTop: 0}, duration);
          return false;
      })
  });


    </script>

  </head>
  <body>
   <div class="div1">
    <div class="row">
    
     <div class="col-md-6 col-md-offset-6 header2" style="">
      <a href="#about" class="navigate">About Us</a>&nbsp&nbsp
      <a href="#entrepreneur" class="navigate">Entrepreneur</a>&nbsp&nbsp
      <a href="#student" class="navigate">Student</a>&nbsp&nbsp
      <a href="#contact" class="navigate">Contact</a>&nbsp&nbsp&nbsp
      <a href="" class="navigate-login" data-toggle="modal" data-target="#LoginModal">
        Login
      </a>
      <a href="" class="navigate-register" data-toggle="modal" data-target="#RegisterModal">
        Register Now!
      </a>

       
     </div>
      
    </div>
    <div class="center ">
     <div class="row">
      <div class="col-md-6 col-md-offset-1">
       <p class="home">START <br>TO STARTUP AT <font color="#09b7dc">FOUNDER DATING</font></p>
        
      </div>
       
     </div>
    
    
      
    </div>
     
   </div>

   <div id="about" class="div2 row" style="margin-top:0px;">
    <div align="center " class="col-md-10 col-md-offset-1">
     <h1>WE AT <font color="#09b7dc">FOUNDER DATING</font> LET YOU</h1>
     <div class="row header3">
      <div class="col-md-4" align="center">
       <%= image_tag("startups.png") %><br><br>
       <h3>CONNECT AND LET YOU INTERACT WITH STARTUPS</h3>

        
      </div>
      <div class="col-md-4">
       <%= image_tag("search.png") %><br><br>
       <h3>HELP YOU LOOK FOR THE RIGHT PERSON</h3>
        
      </div>
      <div class="col-md-4">
       <%= image_tag("incubator.png") %><br><br>
       <h3>CONNECT YOU TO VC'S AND INCUBATORS</h3>
        
      </div>
      
       
     </div>
      
    </div>
   
     
   </div>


   <div id="entrepreneur" class="div3 row" style="margin-top:0px;">
    <div align="center " class="col-md-10 col-md-offset-1">
     <h1>WHAT DO WE GIVE TO <font color="#09b7dc">ENTREPRENEURS</font> ?</h1>
     <div class="row header3">
      <h3>ADD YOUR INTERNSHIP REQUIREMENTS, SEARCH FOR PEOPLE WITH SKILLS YOU NEED AND STRENGTHEN YOUR STARTUP.</h3>
      
       
     </div>
      
    </div>
   
     
   </div>
   

   <div id="student" class="div2 row" style="margin-top:0px;">
    <div align="center " class="col-md-10 col-md-offset-1">
     <h1>WHAT DO WE GIVE TO <font color="#09b7dc">STUDENTS</font> ?</h1>
     <div class="row header3">
     <h3>WITH VARIOUS INTERNSHIP OPPORTUNITIES, PEOPLE WITH SKILLS AND UPDATES FROM STARTUPS, YOU CAN START YOUR WAY TO BECOME AN ENTREPRENEUR.</h3>
      
      
       
     </div>
      
    </div>
   
     
   </div>
   <!-- <div class="div3 row" align="CENTER" >
    <h1><font color="#fff">STARTUPS ON BOARD</font></h1><br><br>
    <div class="row startups">
     <div class="col-md-4" align="center">
     <a href="#"><img src="img/gharpay.png"></a>
     
      
    </div>
    <div class="col-md-4" align="center">
     <a href="#"><img src="img/groupon.png"></a>
     
      
    </div>
    <div class="col-md-4" align="center">
     <a href="#"><img src="img/zomato.png" ></a>

      
    </div>

      
    </div>
    <div class="row startups">
     <div class="col-md-4" align="center">
     <a href="#"><img src="img/gharpay.png"></a>
     
      
    </div>
    <div class="col-md-4" align="center">
     <a href="#"><img src="img/groupon.png"></a>
     
      
    </div>
    <div class="col-md-4" align="center">
     <a href="#"><img src="img/zomato.png" ></a>

      
    </div>

      
    </div>
    
     
   </div> -->

   <div id="contact" class="div4 row" align="center">
   <h1><font color="#fff">GET TO US</font></h1>
   <div class="row header2">
    <div class="col-md-6 ">
    <h4>FOLLOW US</h4>
     <button class="btn-circle"><div class="icon"><i class="fa fa-facebook"></i></div></button>&nbsp&nbsp&nbsp<button class="btn-circle"><div class="icon"><i class="fa fa-twitter"></i></div></button>&nbsp&nbsp&nbsp<button class="btn-circle"><div class="icon"><i class="fa fa-linkedin"></i></div></button>&nbsp&nbsp&nbsp<button class="btn-circle"><div class="icon"><i class="fa fa-google-plus"></i></div></button>
      
    </div>
    <div class="col-md-6" align="center">
     <h3>Know More about Us</h3>
     <a href="#" class="navigate">BITS Homepage</a>
     <a href="#" class="navigate">CEL WEBSITE</a>
      
    </div>

     
   </div>
     <div class="header2 row" align="center">
     <h6>brought to you by</h6>
     <h5>CENTER FOR ENTREPRENEURIAL LEADERSHIP, BITS PILANI</h5>

      
    </div>
   </div>

   

    <!-- Modal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">

    
            <%= form_for(:session, url: sessions_path) do |f| %>
		     <div class="form-group">
		      <%= f.label :email %>
		      <%= f.text_field :email,:class=>"form-control",:placeholder=>"Enter email" %>
		     </div>

		    <div class="form-group">
		      <%= f.label :password %>
		      <%= f.password_field :password,:class=>"form-control",:placeholder=>"Enter Password" %>
		    </div>

		      <%= f.submit "Sign in", class: "btn btn-default" %>
		    <% end %>

            
            <h4>Or</h4>
            <%=button_to "Login with LinkedIn", login_path, :method => :post,:class=>"btn btn-info" %>
            
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
       
    <!-- Modal -->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Join the Revolution NOW!</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-md-4 col-md-offset-1">
                <%= link_to 'Register as a Student',"/students/new", class: "btn btn-success" %>

              </div>
              <div class="col-md-4 col-md-offset-1">
                <%= link_to 'Register as an Entrepreneur',"/entrepreneurs/new", class: "btn btn-success" %>

              </div>
            </div>
              
            
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <a href="#" class="back-to-top"></a>
     <script src="js/bootstrap.min.js"></script>
  </body>
