
<h1>Sign in</h1>



<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
     <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email,:class=>"form-control",:placeholder=>"Enter email" %>
    </div>
     <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password,:class=>"form-control",:placeholder=>"Enter Password" %>
    </div>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", root_path %></p>
  </div>
</div>

<h2>or</h2>
  <%=button_to "Login with LinkedIn", login_path, :method => :post,:class=>"btn btn-info" %>
</div>
